<!DOCTYPE html>
<html>
<head>
  <style>
        .full {
          width: 100%;
          height: 100%;
        }
        .content {
          float:left;
          width:100%;
          height:60%;
        }
            .example {
          float:left;
          width:100%;
          height:40%;
        }
 </style>
</head>
<body>
  <div style='full'>
      <iframe class="content" name="content" src="content.html"></iframe>
      <iframe class="example" name="example" src="example.html"></iframe>
  </div>
</body>
</html>
